---
layout: default
title: OUR BLOG
---

{% for post in site.posts %}
	<div class="background-light-grey contents">
    	<h5 class = "postTitle"><a href="{{post.url}}" class = "postLink">{{ post.title }}</a></h5>
    	<h6>Posted {{ post.date | date_to_string }}  
            {%if post.author != null %}
            by: {{post.author}}
            {% endif %}
        </h6>
        {% if post.image != null %}
            <img src="{{post.image}}" alt = "{{post.title}}">
        {% endif %}
    	<div class = "post">
        {{ post.content | truncatewords:200 | strip_html }}
    	</div>
  	</div>
	<div class="space"></div>
    <a href="{{post.url}}"><button class="btn btn-large btn-danger">Read More</button></a>
{% endfor %}
